<md-dialog aria-label="Agregar Experiencia" flex="70" layout-padding>
    <md-toolbar  style="background-color:#00C853">
        <div class="md-toolbar-tools">
            <h3 class="md-title">Nueva Experiencia</h3>   
            <span flex></span>         
            <md-button class="md-icon-button" ng-click="cancel()">
                <a class="fa fa-times"></a>
            </md-button>
        </div>        
    </md-toolbar>     
    <md-dialog-content>
        <div layout="column">
            <div flex>
                <md-input-container>
                    <label>Puesto</label>
                    <input ng-model="exp.Puesto" />
                </md-input-container>
                <md-input-container>
                    <label>Descripcion</label>
                    <textarea ng-model="exp.Descripcion"></textarea>
                </md-input-container>
            </div>
            <div flex>
                <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" 
                                 md-items="item in empresas" md-item-text="item.NombreFantasia" md-floating-label="Nombre de la Empresa">
                    <md-item-template>
                        <span md-highlight-text="searchText">{{item.NombreFantasia}}</span>
                    </md-item-template>                    
                </md-autocomplete>
            </div>
            <div flex>                
                <md-input-container>
                    <input type="text" ng-autocomplete ng-model="exp.Ubicacion" options="options" details="details" />                    
                </md-input-container>
            </div>
            <div flex>
                <h3>Periodo:</h3>
                <md-datepicker ng-model="exp.PeriodoDesde" md-placeholder="Desde"></md-datepicker>
                <md-datepicker ng-model="exp.PeriodoHasta" md-placeholder="Hasta"></md-datepicker>
            </div>
        </div>        
    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="saveExp(exp)">
            Agregar Experiencia
        </md-button>
        <md-button ng-click="cancel()" class="md-primary">
            Cancelar
        </md-button>
    </md-dialog-actions>
</md-dialog>
