<md-dialog layout="column" flex="70" layout-padding>
    <md-toolbar style="background-color:#4CAF50">
        <div class="md-toolbar-tools"><h3 class="md-title">Educación</h3></div>
    </md-toolbar>
    <md-dialog-content>
        <div layout="row">
            <md-input-container>
                <label>Lugar</label>
                <input ng-model="estudio.LugarEstudio" />
            </md-input-container>
            <md-input-container>
                <label>Titulo obtenido</label>
                <input ng-model="estudio.Titulacion" />
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container>
                <label>Nivel</label>
                <md-select ng-model="estudio.TipoNivelEstudio">
                    <md-option ng-repeat="n in niveles">
                        {{n.Nombre}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Nota</label>
                <input type="number" ng-model="estudio.Nota" />
            </md-input-container>
        </div>
        <div layout="column">
            <md-input-container>
                <label>Descripcion</label>
                <textarea ng-model="estudio.Descripcion"></textarea>
            </md-input-container>
        </div>
        <div layout="row">

            <md-datepicker md-placeholder="Fecha de Inicio" ng-model="estudio.FechaInicio"></md-datepicker>


            <md-datepicker md-placeholder="Fecha de Fin" ng-model="estudio.FechaFin"></md-datepicker>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button>Cancelar</md-button>
        <md-button>Guardar</md-button>

    </md-dialog-actions>
</md-dialog>
