<h1>Carga de Ofertas</h1>


<div>
    <h1 class="md-title">Datos de la Oferta</h1>

    <!--#region SLuna: Rubro y SubRubro-->
    <div layout="row">
        <md-input-container>
            <label>Rubro</label>
            <md-select ng-model="rubroSelected" ng-change="rubroChanged()">
                <md-option ng-repeat="rubro in Rubros" value="{{rubro.Id}}">
                    {{rubro.Nombre}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container ng-hide="subRubroHide">
            <label>Sub Rubro</label>
            <md-select ng-model="subRubroSelected" ng-change="subRubroChanged()">
                <md-option ng-repeat="subRubro in Rubro.Subrubros" value="{{subRubro.Id}}">
                    {{subRubro.Nombre}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <!--#endregion-->
    <!--#region iafar: carga de habilidades con sugerencias-->
    <md-content flex="30">
        <form name="userForm">
            <md-chips name="fruits" ng-init="myItems = []" ng-model="myItems" placeholder="Add an item" md-max-chips="5">
            </md-chips>
            <div ng-messages="userForm.fruits.$error" ng-if="userForm.$dirty">
                <div ng-message="md-max-chips">You reached the maximum amount of chips</div>
            </div>

        </form>
    </md-content>
   
    <!--#endregion-->

</div>