<md-dialog flex="60">
    <md-toolbar>
        <div class="md-toolbar-tools" style="background-color:rgb(62, 138, 187);">
            <h2>Selecciona una oferta privada</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <a class="fa fa-times"></a>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" layout="column">
            <md-list>
                <md-list-item>
                    <md-card flex="100">
                        <md-card-title>
                            <md-card-title-media>
                                <div class="md-media-lg card-media" layout-padding>
                                    <img src="../../img/logo.png" />
                                </div>
                            </md-card-title-media>
                            <md-card-title-text>
                                <div layout="row" layout-padding flex>
                                    <div flex class="ic_p">
                                        <h3>Nombre de la oferta</h3>
                                        <br />
                                        <p>Descripcion de la oferta</p>
                                    </div>
                                    <div layout="column" layout-align="start end">
                                        <md-button style="background-color:#00C853; color:#ffffff">Seleccionar oferta</md-button>
                                    </div>

                                </div>
                            </md-card-title-text>
                        </md-card-title>
                    </md-card>
                </md-list-item>
            </md-list>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="column" layout-align="center center">
        <md-button style="background-color:#ff0000; color:#ffffff" ui-sref="empresa.ofertas.nuevaOferta" ng-click="cancel()">Crear oferta nueva +</md-button>
    </md-dialog-actions>
</md-dialog>
