<main class="ad_ofer">
    <div layout="row" layout-fill flex>
        <md-sidenav md-is-locked-open="$mdMedia('gt-md')" md-component-id=" left" class="md-sidenav-left">
            <h1 class="md-toolbar-tools">Filtrar</h1>
            <md-content layout-padding layout="column">
                <label>Valoracion</label>
                <md-checkbox>5 Estrellas</md-checkbox>
                <md-checkbox>4 Estrellas</md-checkbox>
                <md-checkbox>3 Estrellas</md-checkbox>
                <md-checkbox>2 Estrellas</md-checkbox>
                <md-checkbox>1 Estrellas</md-checkbox>
                <md-divider></md-divider>
                <label>Rubro</label>
                <md-checkbox>Informatica</md-checkbox>
                <md-checkbox>Construcción</md-checkbox>
                <md-divider></md-divider>
                <label>Lugar de residencia</label>
                <md-checkbox>Santiago del Estero</md-checkbox>
                <md-checkbox>Tucuman</md-checkbox>
                <md-checkbox>Salta</md-checkbox>
                <md-divider></md-divider>
                <label>Ordenar</label>
                <md-checkbox>Nombre A-Z</md-checkbox>
                <md-checkbox>Nombre Z-A</md-checkbox>
                <md-divider></md-divider>
                <md-button>Buscar</md-button>
            </md-content>
        </md-sidenav>

        <div class="md-dialog-content" layout="column">
            <div layout="column">
                
                <md-input-container>
                    <h1>Buscar</h1>
                    <input class="md-input" type="search" ng-model="search" />
                </md-input-container>                
            </div>
            <md-card flex="100" layout="column">
                <md-list>
                    <md-list-item>
                        <md-card-title>
                            <md-card-title-media>
                                <div class="md-media-lg card-media" layout-padding>
                                    <img src="../../../img/perfil.jpg" />
                                </div>
                            </md-card-title-media>
                            <md-card-title-text>
                                <div layout="row" layout-padding flex>
                                    <div flex class="ic_p">
                                        <h3>Nombre del empleado</h3>
                                        <br />
                                        <p>Puesto</p>
                                        <br />
                                        <p>Dni: 1234</p>

                                    </div>
                                    <div layout="column" layout-align="start end">
                                        <md-button style="background-color:#00C853; color:#ffffff">Ver perfil</md-button>
                                    </div>

                                </div>
                            </md-card-title-text>

                        </md-card-title>
                        

                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <md-card-title>
                            <md-card-title-media>
                                <div class="md-media-lg card-media" layout-padding>
                                    <img src="../../../img/perfil.jpg" />
                                </div>
                            </md-card-title-media>
                            <md-card-title-text>
                                <div layout="row" layout-padding flex>
                                    <div flex class="ic_p">
                                        <h3>Nombre del empleado</h3>
                                        <br />
                                        <p>Puesto</p>
                                        <br />
                                        <p>Dni: 1234</p>

                                    </div>
                                    <div layout="column" layout-align="start end">
                                        <md-button style="background-color:#00C853; color:#ffffff">Ver perfil</md-button>
                                    </div>

                                </div>
                            </md-card-title-text>

                        </md-card-title>


                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <md-card-title>
                            <md-card-title-media>
                                <div class="md-media-lg card-media" layout-padding>
                                    <img src="../../../img/perfil.jpg" />
                                </div>
                            </md-card-title-media>
                            <md-card-title-text>
                                <div layout="row" layout-padding flex>
                                    <div flex class="ic_p">
                                        <h3>Nombre del empleado</h3>
                                        <br />
                                        <p>Puesto</p>
                                        <br />
                                        <p>Dni: 1234</p>

                                    </div>
                                    <div layout="column" layout-align="start end">
                                        <md-button style="background-color:#00C853; color:#ffffff">Ver perfil</md-button>
                                    </div>

                                </div>
                            </md-card-title-text>

                        </md-card-title>


                    </md-list-item>
                    <md-divider></md-divider>

                </md-list>


            </md-card>
        </div>
        <div flex layout="column" layout-align="start end">
            <md-button style="background-color:#ff0000; color:#ffffff" ng-click="nuevoEmpleado()">Nuevo empleado +</md-button>
        </div>
    </div>

</main>



