<nav>
    <a href="index.html">UN<span>MUNDO</span></a>
    <ul>

        <!-- desplegable: ezequiel-->
        <li>
            <md-menu>
                <md-button  ng-click="$mdOpenMenu($event)" layout="row">
                    <span class="icon-bullhorn ic_m"></span><h1 class="t_me_a">Ofertas</h1>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item>
                        <a ui-sref="empresa.ofertas"><md-button> <span md-menu-align-target class="sm">Listado de ofertas</span></md-button>
</md-menu-item></a>
                    <md-menu-item>
                        <a ui-sref="empresa.ofertas.nuevaOferta"><md-button> <span md-menu-align-target class="sm">Agregar ofertas</span></md-button>
</md-menu-item></a>
                </md-menu-content>
            </md-menu>
        </li>
        <!--fin desplegable-->
        <a href="#">
            <li><span class="icon-earth icono_de" ui-sref="empresa.notificaciones"></span></li>
        </a>
        <a href="#">
            <li><span class="icon-mail4 icono_de"></span></li>
        </a>
        <li>
            <span class="ic_m"></span><h6><a ui-sref="empresa.perfil({idEmpresa: authentication.empresaId})">{{authentication.userName}}</a></h6>
        </li>
        <a ng-click="logOut()">
            <li><span class="icon-exit icono_de"></span></li>
        </a>                
    </ul>
</nav>
<!--<aside ui-view="menu@"></aside>-->

<div ui-view="contenido@"></div>


