<!--<h1>Menu del Home</h1>

<md-button class="md-raised md-primary" ui-sref="registroProfesional">
    Registrar Profesional
</md-button>

<md-button class="md-raised md-warn" ui-sref="registroEmpresa">
    Registrar Empresa
</md-button>

<md-button class="md-raised md-warn" ui-sref="login">
    Login
</md-button>

<md-button class="md-raised md-primary" ui-sref="solicitud">
    Solicitud de Confirmacion de Cuenta
</md-button>-->

<!--<header>
    <a href="index.html">UN MUNDO</a>
    <ul>
        <a ui-sref="registroEmpresa"><li>Registra tu empresa</li></a>
        <a ui-sref="registroProfesional"><li>¿ Eres un profesional?</li></a>
        <a ui-sref="login"><li>INGRESAR</li></a>
    </ul>
</header>-->



