    <section class="notif">
        <div class="noti_box">
            <div class="n_centro">
                <h1>Notificaciones</h1>
                <h2>Revice todas las notificaciones</h2>


                <div class="notis">

                    <img src="img/perfil.jpg">

                    <div class="notis_info">
                        <div class="ni1">
                            <h3>Ezequiel Brandan</h3>
                            <h4>Resumen de notif..</h4>
                        </div>

                        <div class="ni2">
                            <h5>14:09</h5>
                            <a href="#"><span class="icon-cross"></span></a>
                        </div>
                    </div>

                </div>





                <div class="notis">
                    <img src="img/perfil.jpg">
                    <div class="notis_info">
                        <div class="ni1">
                            <h3>Ezequiel Brandan</h3>
                            <h4>Resumen de notif..</h4>
                        </div>
                        <div class="ni2">
                            <h5>14:09</h5>
                            <a href="#"><span class="icon-cross"></span></a>
                        </div>
                    </div>
                </div>





                <div class="notis">
                    <img src="img/perfil.jpg">
                    <div class="notis_info">
                        <div class="ni1">
                            <h3>Ezequiel Brandan</h3>
                            <h4>Resumen de notif..</h4>
                        </div>
                        <div class="ni2">
                            <h5>14:09</h5>
                            <a href="#"><span class="icon-cross"></span></a>
                        </div>
                    </div>
                </div>





                <div class="notis">
                    <img src="img/perfil.jpg">
                    <div class="notis_info">
                        <div class="ni1">
                            <h3>Ezequiel Brandan</h3>
                            <h4>Resumen de notif..</h4>
                        </div>
                        <div class="ni2">
                            <h5>14:09</h5>
                            <a href="#"><span class="icon-cross"></span></a>
                        </div>
                    </div>
                </div>



            </div>
            <div class="n_detalle">
                <h1>Detalle de la notificación</h1>
                <div class="detalle_cont">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit voluptate optio suscipit odio!</p>
                </div>
            </div>
        </div>
    </section>

