<div layout="column" flex layout-padding>
    <md-card>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color:aliceblue">Verificar Experiencia</h2>
            </div>
        </md-toolbar>
        <md-card-title>
            <md-card-title-text layout="row">
                <md-card-title-media flex="10">
                    <div class="md-media-sm card-media" layout>
                        <md-icon style="width: 80px; height: 80px" md-svg-src="svg/id-card.svg"></md-icon>
                    </div>
                </md-card-title-media>
                <span flex="5"></span>
                <md-card-title-text class="md-dense" flex="50">
                    <span class="md-headline">{{experienciaPendiente.profesional.apellido+ ", "+ experienciaPendiente.profesional.nombre}}</span>   
                    <span class="md-subhead description">Fecha Nacimiento: {{experienciaPendiente.profesional.fechaNac | date:'dd/MM/yyyy'}} </span> 
                    <span class="md-subhead description">{{experienciaPendiente.profesional.nacionalidad}}</span> 
                </md-card-title-text>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <md-list>
                <md-list-item>
                    
                    <div class="md-list-item-text" layout="column" flex="80">
                        <br>
                        <h3>{{ experienciaPendiente.puesto }}</h3>   
                        <h4>{{ experienciaPendiente.ubicacion }} ({{experienciaPendiente.periodoDesde | date:'dd/MM/yyyy'}} - {{experienciaPendiente.periodoHasta | date:'dd/MM/yyyy' }})</h4>      
                        <p>{{ experienciaPendiente.descripcion }}</p> 
                        <br>
                        
                    </div>
                </md-list-item>
            </md-list>
            <md-content layout="row" layout-align="center">
                <md-input-container flex="60">
                    <label>Comentario</label>
                    <input md-maxlength="30"  md-no-asterisk ng-model="verificacionExperienciaLaboral.Comentario">
                </md-input-container>
                <span flex="5"></span>
                <div flex="30">
                    <h3>Valoracion</h3>
                    <jk-rating-stars rating="verificacionExperienciaLaboral.Valoracion"></jk-rating-stars>
                    <div style="width: 100px">{{verificacionExperienciaLaboral.Valoracion}} Estrellas</div>
                </div>
            </md-content>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
            <md-button ng-click="verificarExperiencia()">Verificar</md-button>
            <md-button ng-click="null">Rechazar</md-button>
        </md-card-actions>
    </md-card>
</div>




