<div layout="row">
    <md-sidenav md-is-locked-open="$mdMedia('gt-md')" md-component-id=" left" class="md-sidenav-left">
        <!--<md-toolbar class="md-theme-indigo">

        </md-toolbar>-->
        <h1 class="md-toolbar-tools">Filtrar</h1>
        <md-content layout-padding layout="column">
            <label>Estado</label>
            <md-checkbox>Finalizada</md-checkbox>
            <md-checkbox>En contratacion</md-checkbox>
            <md-divider></md-divider>
            <label>Postulado</label>
            <md-checkbox>Si</md-checkbox>
            <md-checkbox>No</md-checkbox>
            <md-divider></md-divider>            
            <label>Fecha de Oferta</label>
            <md-checkbox>Ultima semana</md-checkbox>
            <md-checkbox>Ultimo mes</md-checkbox>
            <md-checkbox>Ultimo año</md-checkbox>
            <md-divider></md-divider>
            <label>Ordenar</label>
            <md-checkbox>Nombre A-Z</md-checkbox>
            <md-checkbox>Nombre Z-A</md-checkbox>
            <md-divider></md-divider>
            <md-button>Buscar</md-button>
        </md-content>
    </md-sidenav>
    <div flex>
        <md-card>

            <md-card-content>
                <md-input-container>
                    <label>Buscar oferta</label>
                    <input ng-model="buscarOferta" />
                </md-input-container>
                <md-tabs md-boder-bottom md-autoselect>
                    <md-tab label="Historial de Ofertas Privadas">
                        <div layout="column" layout-padding>
                            <md-list>
                                <md-list-item ng-repeat="o in ofertas">
                                    <md-card flex="70">
                                        <md-card-title>
                                            <md-card-title-text>
                                                <!--Aqui va el nombre de la Empresa-->
                                                <span>{{o.Nombre}}</span>
                                            </md-card-title-text>
                                            <md-card-title-media>
                                                <!--Aqui va la foto de la empresa-->
                                                <div class="md-media-lg card-media"></div>
                                            </md-card-title-media>
                                        </md-card-title>
                                        <md-card-content>
                                            <div layout="column">
                                                <!--Aqui va el nombre de la Oferta-->
                                                <h3>{{o.NombreEmpresa}}</h3>
                                                <!--Aqui el nombre del puesto-->
                                                <h4>{{}}</h4>
                                                <!--Aqui va el estado-->
                                                <p>{{}}</p>
                                            </div>
                                        </md-card-content>
                                        <md-actions>
                                            <md-button>Detalle</md-button>
                                        </md-actions>
                                    </md-card>
                                </md-list-item>
                            </md-list>
                        </div>
                    </md-tab>
                </md-tabs>
            </md-card-content>
        </md-card>
    </div>


</div>
