<div layout="column">
    <form>
        <md-input-container>
            <label>Ingrese su contraseña</label>
            <input type="password" ng-model="ChangePasswordModel.OldPassword" class="form-control" required />
        </md-input-container>
        <md-input-container>
            <label>Nueva contraseña</label>
            <input type="password" ng-model="ChangePasswordModel.NewPassword" class="form-control" required />
        </md-input-container>
        <md-input-container>
            <label>Confirmar contraseña</label>
            <input type="password" ng-model="ChangePasswordModel.ConfirmPassword" class="form-control" required />
        </md-input-container>
        <md-button ng-click="ChangePassword()">Enviar</md-button>
    </form>
    
</div>