<md-container>
    <section class="login_inicio bg_re">
        <form action="">
            <h1>Registra tu empresa</h1>
            
            <md-input-container class="ic">

                <label class="lbl">Ingrese la razon social</label>
                <input ng-model="nuevoUser.RazonSocial" class="inp" required>

            </md-input-container>
                        
            <md-input-container class="ic">

                <label class="lbl">Ingrese un e-mail de contacto</label>
                <input type="email" ng-model="nuevoUser.Email" class="inp" required>

            </md-input-container>

            <md-input-container class="ic">

                <label class="lbl">Ingrese una contraseña</label>
                <input type="password" ng-model="nuevoUser.Password" class="inp" required>

            </md-input-container>

            <md-input-container class="ic">

                <label class="lbl">Repita la contraseña</label>
                <input type="password" ng-model="nuevoUser.ConfirmPassword" class="inp" required>

            </md-input-container>

            <md-button class="md-primary md-raised" style="background:rgb(62, 138, 187);" ng-click="registrarEmpresa(nuevoUser)">Registrarse</md-button>
            
            <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{message}}
            </div>
        </form>
    </section>
</md-container>
