<div layout="row">
    <div flex>
        <form>
            <md-input-container>
                <label>Ingrese su email</label>
                <input type="email" ng-model="ResetPassword.Email" class="form-control" required/>
            </md-input-container>
            <md-input-container>
                <label>Ingrese su contraseña</label>
                <input type="password" ng-model="ResetPassword.Password" class="form-control" required/>
            </md-input-container>
            <md-input-container>
                <label>Confirmar contraseña</label>
                <input type="password" ng-model="ResetPassword.ConfirmPassword" class="form-control" required/>
            </md-input-container>
            <label style="color:red">{{mensaje}}</label>
            <md-button ng-click="changePassword()">Enviar</md-button>
        </form>

    </div>
</div>
