<main>
    <md-container flex>
        <md-content layout="row" layout-align="center center">
            <div flex="70" layout="column" class="ofertas_p" style="margin:2em 0;">
                <div class="t_ofer_p" layout="column" layout-align="start center">
                    <h1 class="md-display-3">{{NombreOferta}}</h1>
                    <div class="md-list-item-text" layout="column">
                        
                        <h2>Etapa: {{ etapaDetalle.TipoEtapa.Nombre }}</h2>
                        <h4>Fecha Fin:{{ etapaDetalle.TipoEtapa.FechaFinTentativa }}</h4>
                        <p>{{ etapaDetalle.TipoEtapa.Descripcion }}</p>

                    </div>
                    
                </div>
                <hr class="h_sop">
                <div class="puestos">
                    <h1><span style="font-weight:700;">Puestos</span> disponibles.</h1>
                    <div class="puestos_box" layout="column" layout-align="space-around center" flex="100">
                        <div flex="100">
                            <md-list>
                                <md-list-item layout="column" class="secondary-button-padding" ng-repeat="p in etapaDetalle.PuestosEtapaOferta">
                                    <h3>{{p.Puesto.Nombre}}</h3>
                                    <h4>{{p.Puesto.Descripcion}}</h4>
                                    <md-button class="md-secondary" ui-sref="empresa.ofertas.etapaDetalle.listadoPostulantes({idEtapa: etapaDetalle.Id, puesto: p})">Detalle</md-button>
                                </md-list-item>
                            </md-list>
                        </div>


                        
                     
                    </div>
                    <div layout="row" ng-click="pasarSiguienteEtapa()" layout-align="end end">
                        <md-button>Finalizar Etapa</md-button>
                                                <md-button ng-click="postulanteDetalle(postulante.ProfesionalId)">
                    </div>
                    
                </div>
            </div>

        </md-content>
    </md-container>
</main>