<md-dialog flex="40" layout-padding>
    <md-toolbar style="background-color:#FFB300">
        <div class="md-toolbar-tools">
            <h3 class="md-title">Nuevo Idioma</h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="fa fa-times"></md-icon>
            </md-button>
        </div>     
    </md-toolbar>
    <md-dialog-content>
        <div layout="row">
            <md-input-container>
                <label>Seleccione el idioma</label>
                <md-select ng-model="idiomaConocido.IdiomaId">
                    <md-option ng-repeat="i in idiomas" ng-value="i.Id">
                        {{i.Nombre}}
                    </md-option>
                </md-select>
            </md-input-container>
            <br />
            <md-input-container>
                <label>Seleccione el nivel</label>
                <md-select ng-model="idiomaConocido.CompetenciaIdiomaId">
                    <md-option ng-repeat="c in competenciasIdioma" ng-value="c.Id">
                        {{c.Nombre}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="saveIdiomaConocido(idiomaConocido)">
            Agregar Experiencia
        </md-button>
        <md-button ng-click="cancel()" class="md-primary">
            Cancelar
        </md-button>
    </md-dialog-actions>

</md-dialog>