 <!-- #region iafar: contenido de listado -->
<main>
    <md-container>
        <!-- COMIENZO SECCION LISTA DE PROFESIONALES -->
        <div class="t_list">
            <h1>Listado de Profesionales</h1>
        </div>
        <section class="ofertas">
            <div class="sidebar">
                <div ng-repeat="(tipoFiltro,valoresFiltro) in opcionesFiltrosProfesionales.options.selectableFilters">
                    <h3>{{tipoFiltro}}  </h3>
                    <ul ng-repeat="valorFiltro in valoresFiltro">
                        <li>
                            <md-checkbox ng-click="setSelectedProfesionales(tipoFiltro, valorFiltro)"
                                         ng-checked="queryFiltros[tipoFiltro] && queryFiltros[tipoFiltro].indexOf(valorFiltro.id.toString()) >= 0">
                                {{valorFiltro.descripcion}} ({{valorFiltro.cantidad}})
                            </md-checkbox>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="lista">
                <md-table-container>
                    <table md-table ng-model="selectedItems" md-row-select="false">
                        <thead md-head></thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="p in profesionalesList">
                                <td md-cell>
                                    <article>
                                        <div class="logo_ofer">
                                            <img src="../../../img/perfil.jpg" />                                            
                                        </div>
                                        <div class="info_ofer">
                                            <h3>{{p.Apellido + ", " + p.Nombre }}</h3>
                                            <hr>
                                            <div class="d_ofer">
                                                <md-chips ng-model="p.Subrubros"
                                                          readonly="true"
                                                          md-max-chips="5">
                                                    <md-chip-template>
                                                        <span class="md-caption">{{$chip.Rubro.Nombre}}</span>
                                                    </md-chip-template>
                                                </md-chips>

                                                <div flex class="ic_p">
                                                    <p>Domicilio: {{p.Domicilio}}</p>
                                                    <br />
                                                    <p>Valoracion: {{p.ValoracionPromedio + " estrellas"}}</p>                                                    
                                                </div>

                                            </div>


                                            <div layout="column" layout-align="start end">
                                                <md-button style="background-color:#00C853; color:#ffffff" ui-sref="empresa.profesional({idPro: p.Id})">Ver Perfil</md-button>
                                            </div>
                                        </div>
                                    </article>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"
                                     md-limit="pagination.limit"
                                     md-limit-options="[5, 10, 15]"
                                     md-page="pagination.current"
                                     md-total="{{profesionalesList.length - selectedPro.length}}"
                                     md-page-select></md-table-pagination>

                <!--iafar: divisor de prueba-->
                <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                <!-- iafar: mensaje si no se encuentran resultados -->


                <div class="text-center text-accent animate-show" ng-show="(profesionalesList.length == 0)">
                    <h4>No se encontraron Profesionales</h4>
                </div>
                <md-divider></md-divider>

            </div>
        </section>
    </md-container>

    
</main>

    
