<h1>Edita tu perfil</h1>
<md-container>
    <md-card flex="100" layout layout-align="center center">
        <md-card-content flex="50">
            <!--#region nombre y apellido-->
            <div flex layout="row" class="ic_p">
                
                <md-input-container flex="50">
                    <h3>Nombre</h3>
                    <input ng-model="profesional.Nombre" class="inp" />
                </md-input-container>
                
                <md-input-container flex="50">
                    <h3>Apellido</h3>
                    <input ng-model="profesional.Apellido" class="inp" />
                </md-input-container>
                
            </div>

            <!--#endregion-->

            <!--#region Fecha de nacimiento-->
            <div flex>
                <h4>Fecha de Nacimiento</h4>
                <br />
                <md-datepicker md-placeholder="Seleccione" ng-model="profesional.FechaNac"></md-datepicker>
            </div>
            <!--#endregion-->

            <!--#region Domicilio-->
            <div flex layout="row" class="ic_p">
                <md-input-container flex="100">
                    <h4>Domicilio</h4>
                    <input ng-model="profesional.Domicilio" class="inp">
                </md-input-container>
            </div>
            <!--#endregion-->
            
            <!--#region Rubros y Sub Rubros-->
            <!--#region fpaz: subrubros del profesional-->
            <div flex>
                <md-tabs class="md-accent">
                    <md-tab>
                        <md-tab-label>Rubros y Sub-Rubros</md-tab-label>
                        <md-tab-body>
                            <div layout="row">
                                <div flex="50">
                                    <md-input-container>
                                        <label>Rubro</label>
                                        <md-select ng-model="rubroSelected" ng-change="rubroChanged()">
                                            <md-option ng-repeat="rubro in Rubros" value="{{rubro.Id}}">
                                                {{rubro.Nombre}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div flex="50">
                                    <md-input-container>
                                        <label>sub rubro</label>
                                        <md-select ng-model="subrubroSelected" ng-change="subRubroChanged()" ng-disabled="subrubrodisabled">
                                            <md-option ng-repeat="subrubro in Rubro.Subrubros" ng-value="subrubro">
                                                {{subrubro.Nombre}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-button class="md-raised" ng-click="subRubroAddClick()">agregar</md-button>
                                </div>
                            </div>
                            <div layout="row">
                                <div flex="grow">
                                    <h2 class="md-title">Rubros seleecionados</h2>
                                    <md-chips ng-model="profesional.Subrubros" readonly="!editValue ? true : false">
                                        <md-chip-template>
                                            <span>
                                                <strong>{{$chip}}</strong>
                                            </span>
                                        </md-chip-template>
                                    </md-chips>
                                </div>
                            </div>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </div>

            <!--#endregion-->
            <!--#endregion-->

            <!--#region Sexo y Nacionalidad-->
            <div flex layout="row">
                <div flex layout-padding>
                    <h4>Sexo</h4>
                    <md-select ng-model="profesional.Sexo">
                        <md-option>Masculino</md-option>
                        <md-option>Femenino</md-option>
                    </md-select>
                </div>
                
                <div flex layout-padding>
                    <h4>Nacionalidad</h4>
                    <md-select ng-model="profesional.Nacionalidad">
                        <md-option>Argentino</md-option>
                        <md-option>Otro</md-option>
                    </md-select>
                </div>
            </div>
            <br />
            <hr />
            <br />
            <!--#endregion-->

            <!--#region Tipo de identificacion-->
            <div flex layout="column" class="ic_p">
                <h3>
                    Documentacion Personal

                    <md-button ng-click="opcionAgregar=!opcionAgregar">
                        <md-icon ng-show="!opcionAgregar" md-svg-src="svg/add.svg"></md-icon>
                        <md-icon ng-hide="!opcionAgregar" md-svg-src="svg/exit.svg"></md-icon>
                    </md-button>
                    <md-button ng-disabled="selectItems.length == 0"
                               ng-click="eliminarTipoId(selectItems)">
                        <md-icon md-svg-src="svg/trash.svg"></md-icon>
                        <md-badge class="md-whiteframe-1dp">
                            {{selectItems.length}}
                        </md-badge>
                    </md-button>
                </h3>
                <md-toolbar class="md-table-toolbar md-default">


                    <div class="md-table-toolbar"
                         layout="row"
                         layout-align="end" flex
                         ng-hide="!opcionAgregar">
                        <md-input-container flex="30">
                            <label>Tipo</label>
                            <md-select ng-model="nuevoDoc.TipoIdentificacionProfesional">
                                <!--<md-option><em>None</em></md-option>-->
                                <md-option ng-repeat="tipo in identificacionesPro" ng-value="tipo">
                                    {{tipo.Nombre}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex="35">
                            <label>Numero</label>
                            <input required ng-model="nuevoDoc.Valor">
                        </md-input-container>
                        <div layout-align="start"
                             layout="row"
                             flex="30">
                            <md-button flex
                                       ng-click="agregarDoc(nuevoDoc)">
                                <!--opcionAgregar=false-->
                                <md-icon md-svg-src="svg/success.svg"></md-icon>
                            </md-button>

                        </div>
                    </div>

                </md-toolbar>
                <md-table-container>
                    <table md-table
                           ng-hide="docList==0"
                           ng-model="selectItems"
                           multiple
                           md-row-select="true">
                        <thead md-head>
                            <tr md-row>
                                <th md-column></th>
                                <th md-column>Tipo</th>
                                <th md-column>Numero</th>

                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row
                                md-select="doc"
                                md-auto-select="true"
                                ng-repeat=" doc in profesional.IdentificacionesProfesional | limitTo: query.limit : (query.page -1) * query.limit">

                                <td md-cell>
                                    {{($index+1) + (query.page - 1) * query.limit}}
                                </td>
                                <td md-cell>
                                    {{doc.TipoIdentificacionProfesional.Nombre}}
                                </td>
                                <td md-cell>
                                    {{doc.Valor}}
                                </td>


                            </tr>

                        </tbody>
                    </table>

                </md-table-container>
                <div ng-show="profesional.IdentificacionesProfesional == 0" layout-align="center center" flex>
                    <br>
                    <h5>No posee Identificaciones cargadas</h5>
                    <br>
                </div>
                <md-table-pagination layout="row" layout-align="center"
                                     md-label="{page: 'Pag.:',
                    rowsPerPage: 'Filas:',
                    of: 'de'}"
                                     md-page-select="true"
                                     md-boundary-links="true"
                                     md-limit="query.limit"
                                     md-page="query.page"
                                     md-total="{{profesional.IdentificacionesProfesional.length}}">
                </md-table-pagination>

            </div>
            <br />
            <hr />
            <br />
            <!--#endregion-->

            <!--#region Habilidades-->
            <div flex>
                <md-tabs class="md-accent">
                    <md-tab>
                        <md-tab-label>Seleccion de Habilidades</md-tab-label>
                        <md-tab-body>
                            
                            <md-chips ng-model="chipsHabilidad"
                                      name="chipContainer"
                                      md-max-chips="5"
                                      md-transform-chip="transformChip($chip)">
                                <md-autocomplete md-selected-item="selectedItem"
                                                 md-search-text="searchText"
                                                 md-items="item in habilidades"
                                                 md-item-text="item.Nombre"
                                                 placeholder="Escriba sus habilidades">
                                    <span md-highlight-text="searchText">{{item.Nombre}}</span>
                                </md-autocomplete>
                                <md-chip-template>
                                    <strong>{{$chip}}</strong>

                                </md-chip-template>

                            </md-chips>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
                <br />
                <hr />
                <br />
            </div>
            <!--#endregion-->

            <!--#region Descripcion curricular y objetivo profesional-->
            <div flex>
                <h3>Objetivo Profesional</h3>
                <br />
                <textarea ng-model="profesional.ObjetivoProfesional" type="text-area" class="ofer_tit ofer_desc ta" rows="6" placeholder="Escriba aqui..."></textarea>
                <br />
                <hr />
                <br />
            </div>
            <div flex>
                <h3>Descripcion curricular</h3>                
                <br />                
                <textarea ng-model="profesional.DescripcionCurricular" type="text-area" class="ofer_tit ofer_desc ta" rows="6" placeholder="Escriba aqui..."></textarea>
                <br>
            </div>
            <br />
            <hr />
            <br />
            <!--#endregion-->

            <!--#region Experiencias Laborales-->
            <md-card>
                <md-toolbar>
                    <div class="md-toolbar-tools" style="background-color:#00C853"><h3 class="md-title">Experiencias laborales</h3></div>
                </md-toolbar>

                <md-card-content>
                    <md-list flex>
                        <md-list-item class="md-4-line" layout="column" ng-repeat="exp in profesional.ExperienciasLaborales">
                            <br />
                            <h3>Puesto:  {{exp.Puesto}}</h3>
                            <br />
                            <h4>Empresa: {{exp.EmpresaId == null ?  exp.EmpresaExterna :  exp.Empresa.NombreFantasia}}</h4>
                            <br />
                            <p>Desde: {{exp.PeriodoDesde | date: 'dd/MM/yyyy'}}</p>
                            <p>Hasta: {{exp.PeriodoHasta | date: 'dd/MM/yyyy'}}</p>
                            <br />
                            <p>Descripcion: {{exp.Descripcion}}</p>
                            <md-divider></md-divider>
                            <br />
                        </md-list-item>

                    </md-list>
                </md-card-content>
                <md-button ng-click="nuevaExperiencia()"> Agregar +</md-button>
            </md-card>
            <!--#endregion-->

            <!--#region Formacion Educativa-->
            <md-card>
                <md-toolbar>
                    <div class="md-toolbar-tools" style="background-color:#4CAF50"><h3 class="md-title">Educación</h3></div>
                </md-toolbar>
                <md-card-content>
                    <md-list flex>
                        <md-list-item class="md-2-line" layout="column" ng-repeat="ed in profesional.Educaciones">
                            <br />
                            <h3>Titulo:  {{ed.Titulacion}}</h3>
                            <br />
                            <h4>Lugar de Estudio: {{ed.LugarEstudio}}</h4>
                            <p>Nivel: {{ed.TipoNivelEstudio.Nombre}}</p>
                            <md-divider></md-divider>
                            <br />
                        </md-list-item>
                    </md-list>
                </md-card-content>
                <md-button ng-click="nuevaEducacion()"> Agregar +</md-button>
            </md-card>
            <!--#endregion-->

            <!--#region Cursos e Idiomas-->
            <div layout="row">
                <div flex>
                    <md-card>
                        <md-toolbar>
                            <div class="md-toolbar-tools" style="background-color:#42A5F5"><h3 class="md-title">Cursos y Certificaciones</h3></div>
                        </md-toolbar>
                        <md-card-content>
                            <md-list flex>
                                <md-list-item layout="column" class="md-2-line" ng-repeat="cur in profesional.Cursos">
                                    <br />
                                    <h3>Curso:  {{cur.Titulacion}}</h3>
                                    <br />
                                    <h4>Lugar de Estudio: {{cur.EntidadCertificante}}</h4>
                                    <p>Descripcion: {{cur.Descripcion}}</p>
                                    <md-divider></md-divider>
                                    <br />
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                        <md-button ng-click="nuevoCurso()"> Agregar +</md-button>
                    </md-card>
                </div>
                <div flex>
                    <md-card>
                        <md-toolbar>
                            <div class="md-toolbar-tools" style="background-color:#FFB300"><h3 class="md-title">Idiomas</h3></div>
                        </md-toolbar>
                        <md-card-content>
                            <md-list>
                                <md-list-item layout="column"  ng-repeat="i in profesional.IdiomasConocidos">
                                    <h3>Idioma: {{i.Idioma.Nombre}}</h3>
                                    <h4>Nivel: {{i.CompetenciaIdioma.Nombre}}</h4>
                                    <md-divider></md-divider>
                                    <br />
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                        <md-button ng-click="nuevoIdioma()"> Agregar +</md-button>
                    </md-card>
                </div>
            </div>
            <br />
            <hr />
            <br />
            <!--#endregion-->

            <!--#region Subir PDF-->
            <h3>Subir PDF de su curriculum.</h3>
            <input type="file" name="foto" class="archivos" style="margin:2em 0;">
            <br>
            <!--#endregion-->

        </md-card-content>

    </md-card>
</md-container>

<nav mfb-menu position="br" effect="zoomin" label="Herramientas"
     active-icon="fa fa-times" resting-icon="fa fa-plus"
     toggling-method="hover">
    <button mfb-button icon="mdi-image-edit" label="Editar Perfil" ng-click="edit()"></button>
    <button mfb-button icon="fa fa-floppy-o" label="Guardar Guardar Cambios" ng-click="profesionalPerfilUpdate(profesional)">
        <md-icon> face </md-icon>
    </button>
    <button mfb-button icon="fa fa-trash-o" label="Cancelar" ng-click="profesionalPerfilCancel()"></button>
</nav>