@import url(https://fonts.googleapis.com/css?family=Lato:300,700,400);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
* { margin: 0; padding: 0; box-sizing: border-box; }

::selection { background-color: rgba(81, 202, 245, 0.7); color: whitesmoke; }

.notif { height: 100vh; width: 100%; display: flex; flex-flow: wrap row; justify-content: center; align-items: center; }
.notif .noti_box { display: flex; flex-flow: wrap row; justify-content: center; align-items: flex-start; height: 80vh; background: #ebebeb; }
.notif .noti_box .n_centro { display: flex; flex-flow: wrap column; justify-content: flex-start; align-items: center; height: 100%; background: whitesmoke; }
.notif .noti_box .n_centro h1 { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 1.8em; color: #1e1e23; width: 100%; text-align: center; background: whitesmoke; }
.notif .noti_box .n_centro h2 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1em; color: #1e1e23; width: 100%; text-align: center; background: whitesmoke; }
.notif .noti_box .n_centro .notis { display: flex; flex-flow: wrap row; justify-content: space-between; align-items: center; padding: 1em; background: #03a9f4; border: 1px solid #dadada; border-top: none; }
.notif .noti_box .n_centro .notis img { width: 3.6em; border-radius: 100%; }
.notif .noti_box .n_centro .notis .notis_info { display: flex; flex-flow: wrap row; justify-content: space-between; align-items: center; }
.notif .noti_box .n_centro .notis .notis_info .ni1 { margin: 0 1em; }
.notif .noti_box .n_centro .notis .notis_info .ni1 h3 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1.2em; color: #f0f0f0; }
.notif .noti_box .n_centro .notis .notis_info .ni1 h4 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1em; color: #f0f0f0; }
.notif .noti_box .n_centro .notis .notis_info .ni2 h5 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1.2em; color: #f0f0f0; }
.notif .noti_box .n_centro .notis .notis_info .ni2 a { text-decoration: none; display: block; text-align: right; }
.notif .noti_box .n_centro .notis .notis_info .ni2 a span { color: #5a5a5f; font-size: 0.8em; transition: all 0.2s ease-out; }
.notif .noti_box .n_centro .notis .notis_info .ni2 a span:hover { color: #323232; }
.notif .noti_box .n_detalle { display: flex; flex-flow: wrap column; justify-content: center; align-items: stretch; min-width: 500px; }
.notif .noti_box .n_detalle h1 { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 1.8em; color: #1e1e23; text-align: center; }
.notif .noti_box .n_detalle .detalle_cont { width: 500px; padding: 3em 2em; }

.home { background: url(../img/ny_street.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; height: 100vh; display: flex; flex-flow: wrap column; justify-content: center; align-items: center; }
.home header { display: flex; padding: 0.3em; width: 100%; position: fixed; flex-flow: wrap row; justify-content: space-between; align-items: center; position: absolute; top: 0; }
.home header ul { list-style: none; }
.home header ul a { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1em; color: #f0f0f0; text-decoration: none; }
.home header ul a li { display: inline-block; margin: 0 1em; }
.home header ul span a li { color: #f0f0f0; border: 1.5px solid #51caf5; border-radius: 20px; padding: 0.4em 1.2em; }
.home header ul span:hover > a li { background: #51caf5; color: #f0f0f0; }
.home header a { font-family: 'Lato', sans-serif; font-weight: 700; font-size: 2em; color: #0c964d; text-decoration: none; transition: all 0.3s ease; }
.home header a:hover { color: #d9b121; }
.home .h_container { display: flex; flex-flow: wrap column; justify-content: center; align-items: center; margin-top: 5em; }
.home .h_container h1 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 3.6em; color: #f0f0f0; text-align: center; margin-bottom: 0.5em; border: solid; padding: 20px; }
.home .h_container h1 span { color: #51caf5; font-weight: 700; }
.home .e_content { display: flex; width: 100%; justify-content: center; align-items: center; flex-wrap: wrap; flex-direction: row; transition: all 1.1s ease; }
.home .e_content article { padding: 3em 0 0 0; width: 22%; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-direction: column; }
.home .e_content article .icono { font-size: 4em; color: #d2d2d2; border-radius: 100%; padding-top: 0.35em; transition: all 0.3s ease; }
.home .e_content article .icono:hover { color: #51caf5; border-color: #69cbc8; cursor: pointer; }
.home .e_content article h1 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1.2em; color: #f0f0f0; margin-top: 1.3em; }
.home .e_content article h1 span { font-weight: 700; }
.home .e_content article hr { width: 35%; border: 1px solid #77da55; margin: 1.5em 0; }
.home .e_content article p { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1.1em; color: #d2d2d2; text-align: center; line-height: 1.5em; width: 75%; }

.t_elegir { display: flex; flex-flow: wrap column; justify-content: space-between; align-items: center; padding: 6em 15%; background: #f0f0f0; }
.t_elegir h1 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 2em; color: #323232; text-align: center; }
.t_elegir h1 span { font-weight: 700; color: black; }
.t_elegir hr { border: 1px solid #77da55; width: 35%; margin: 1.8em 0; }
.t_elegir p { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1.5em; color: #5a5a5f; text-align: center; }

.elegir { display: flex; flex-flow: wrap row; justify-content: space-between; align-items: center; /*	background: url(../img/2pw.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;*/ }
.elegir .e_prof { width: 50%; padding: 8.5em 3em; background: rgb(217, 177, 33); }
.elegir .e_prof h1 { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 2.1em; color: #1e1e23; text-transform: uppercase; }
.elegir .e_prof h1 span { font-weight: 700; }
.elegir .e_prof h3 { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 1.4em; color: #323232; margin: 2em 0; }
.elegir .e_prof a { font-family: 'Lato', sans-serif; font-weight: 700; font-size: 0.9em; color: #f0f0f0; text-decoration: none; border-radius: 5px; padding: 0.8em 2.5em; background: #51caf5; transition: all 0.3s ease; }
.elegir .e_prof a:hover { background: #3498db; color: #f0f0f0; }
.elegir .e_empr { width: 50%; background: rgb(12, 150, 77); padding: 8.5em 3em; }
.elegir .e_empr h1 { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 2.1em; color: white; text-transform: uppercase; }
.elegir .e_empr h1 span { font-weight: 700; }
.elegir .e_empr h3 { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 1.4em; color: #d2d2d2; margin: 2em 0; }
.elegir .e_empr a { font-family: 'Lato', sans-serif; font-weight: 700; font-size: 0.9em; color: white; text-decoration: none; border-radius: 5px; padding: 0.8em 2.5em; background: #77da55; transition: all 0.3s ease; }
.elegir .e_empr a:hover { background: #2ecc71; }

.t_list { display: block; padding: 6em 0; background: #f0f0f0); }
.t_list h1 { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 3.45em; color: #323232; text-align: center; text-transform: uppercase; }

.ofertas .lista { display: inline-block; float: right; width: 80%; }
.ofertas .lista article { display: flex; flex-flow: wrap row; padding: 1em 10%; justify-content: space-between; align-items: center; transition: all 0.2s ease; background: #f0f0f0; }
.ofertas .lista article:hover { background: gainsboro; }
.ofertas .lista article .logo_ofer { display: flex; flex-flow: wrap column; align-items: center; justify-content: center; }
.ofertas .lista article .logo_ofer img { width: 8em; }
.ofertas .lista article .logo_ofer h2 { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 1.5em; color: #1e1e23; text-transform: uppercase; }
.ofertas .lista article .info_ofer { display: flex; flex-flow: wrap column; justify-content: center; width: 70%; }
.ofertas .lista article .info_ofer h1 { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 1.6em; color: #5a5a5f; text-align: left; }
.ofertas .lista article .info_ofer hr { border: 1px solid #51caf5; border-bottom: none; margin: 0.5em 0 0.8em; width: 100%; }
.ofertas .lista article .info_ofer h3 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1.2em; color: #1e1e23; text-align: left; }
.ofertas .lista article .info_ofer a { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 1.1em; color: #f0f0f0; text-decoration: none; background: #3e8abb; border-radius: 5px; width: 5em; text-align: center; width: 7em; padding: 0.45em 1em; margin-top: 1.5em; transition: all 0.2s ease; }
.ofertas .lista article .info_ofer a:hover { color: white; background: #3498db; }
.ofertas .lista article .info_ofer .d_ofer { display: flex; flex-flow: wrap row; justify-content: space-between; align-items: center; margin-bottom: 1em; }
.ofertas .lista article .info_ofer .d_ofer h4 { text-transform: uppercase; font-family: 'Lato', sans-serif; font-weight: 400; font-size: 0.8em; color: #5a5a5f; }
.ofertas .lista article .info_ofer .d_ofer h5 { font-family: 'Lato', sans-serif; font-weight: 700; font-size: 1em; color: #323232; background: rgba(180, 180, 180, 0.5); padding: 0.2em; border-left: 4px solid #51caf5; }
.ofertas .sidebar { display: inline-block; float: left; width: 20%; }
.ofertas .sidebar h3 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1.3em; color: #f0f0f0; background: linear-gradient(#3c3c3c, #414141); border-left: 5px solid #3e8abb; padding: 0.4em 1em; text-transform: uppercase; }
.ofertas .sidebar ul { list-style: none; }
.ofertas .sidebar ul li { display: block; padding: 0.5em 0; border: 1px solid rgba(100, 100, 100, 0.15); border-top: none; }
.ofertas .sidebar ul li:hover { background: rgba(100, 100, 100, 0.15); }
.ofertas .sidebar ul li a { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 0.9em; color: #5a5a5f; text-decoration: none; margin-left: 2em; }
.ofertas .sidebar ul li a:hover { color: #1e1e23; }

.login_inicio { background: url(../img/11.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; height: 100vh; display: flex; flex-flow: wrap column; justify-content: center; align-items: center; }
.login_inicio form { width: 40%; background: linear-gradient(#cdcdcd, #f0f0f0); padding: 4em 1.5em; border-radius: 2px; display: flex; flex-flow: wrap column; justify-content: center; align-items: center; }
.login_inicio form h1 { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 2.6em; color: #1e1e23; margin-bottom: 0.8em; }
.login_inicio form .t_form { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 1em; color: #323232; width: 80%; border: none; border-bottom: 1px solid #1e1e23; background: none; padding: 1em 0 0.35em 0.5em; margin-bottom: 1em; }
.login_inicio form .t_form:focus { outline: none; border-bottom-color: #3498db; }
.login_inicio form .t_form:hover { border-bottom-color: #3e8abb; }
.login_inicio form .enviar { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 1em; color: #f0f0f0; text-decoration: none; background: #0c964d; border-radius: 2px; text-align: center; padding: 0.6em 10em; margin-top: 1.5em; transition: all 0.2s ease; border: none; cursor: pointer; }
.login_inicio form .enviar:hover { color: white; background: #3498db; }

.bg_re { background: url(../img/11.jpg); }

.bg_rp { background: url(../img/13.jpg); }

.bg_log { background: url(../img/15.jpeg); }

.login_inicio { background-repeat: no-repeat; background-size: cover; background-attachment: fixed; height: 100vh; display: flex; flex-flow: wrap column; justify-content: center; align-items: center; }
.login_inicio form { width: 40%; background: linear-gradient(#ebebeb, #f0f0f0); padding: 4em 1.5em; border-radius: 2px; display: flex; flex-flow: wrap column; justify-content: center; align-items: center; }
.login_inicio form h1 { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 2.6em; color: #1e1e23; margin-bottom: 0.8em; }
.login_inicio form .lbl { color: #5a5a5f; }
.login_inicio form .lbl:hover { color: #323232; }
.login_inicio form .lbl:focus { color: #51caf5 !important; }
.login_inicio form .inp { border-color: #828287; transition: all 0.3s ease; }
.login_inicio form .inp:hover { border-color: #3e8abb; }
.login_inicio form .inp:focus { border-color: #51caf5; }
.login_inicio form .ic { width: 70%; }
.login_inicio form .enviar { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 1em; color: #f0f0f0; text-decoration: none; background: #0c964d; border-radius: 2px; text-align: center; padding: 0.6em 10em; margin-top: 1.5em; transition: all 0.2s ease; border: none; cursor: pointer; }
.login_inicio form .enviar:hover { color: white; background: #d9b121; }

nav { display: flex; flex-flow: wrap row; justify-content: space-between; align-items: center; background: whitesmoke; width: 100%; padding: 0.3em; box-shadow: 2px 1px 5px rgba(45, 45, 45, 0.5); position: inherit; z-index: 1; }
nav a { font-family: 'Lato', sans-serif; font-weight: 700; font-size: 2em; color: #0c964d; text-decoration: none; color: #b4b4b4 !important; }
nav a span { color: #0c964d; transition: all 0.3s ease; }
nav a:hover > span { color: #d9b121; }
nav ul { list-style: none; display: flex; flex-flow: wrap row; justify-content: space-between; align-items: center; }
nav ul a { text-decoration: none; font-size: 1.8em; }
nav ul a li { display: inline-block; padding: 0 0.5em; list-style: none; display: flex; flex-flow: wrap row; justify-content: space-between; align-items: center; }
nav ul a li img { width: 1.45em; border-radius: 100%; margin-right: 0.5em; }
nav ul a li .icono_de { font-size: 0.8em; color: #a0a0a0; }
nav ul a li .icono_de:hover { color: #3498db; }

aside { background: linear-gradient(#232422, #282927); width: 17%; height: 100%; position: fixed; padding: 4.5em 0; }
aside .p_info { display: flex; flex-flow: wrap row; justify-content: space-around; align-items: center; }
aside .p_info img { width: 5em; border-radius: 100%; }
aside .p_info .t_info h2 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1.1em; color: #51caf5; }
aside .p_info .t_info h5 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 0.8em; color: #b4b4b4; margin: 0.9em 0 0.3em; text-transform: uppercase; }

.menu_s h1 { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 1em; color: #d2d2d2; margin: 2em 0 1em; text-align: left; width: 90%; }
.menu_s ul { list-style: none; display: flex; flex-flow: wrap column; justify-content: center; align-items: center; width: 100%; }
.menu_s ul a { text-decoration: none; font-size: 1.8em; width: 100%; }
.menu_s ul a li { display: block; padding: 0.8em 0.5em; list-style: none; font-family: 'Lato', sans-serif; font-weight: 300; font-size: 0.63em; color: #d2d2d2; text-align: left; }
.menu_s ul a li span { margin-right: 1em; color: #77da55; }
.menu_s ul a li:hover { color: #f0f0f0; background: rgba(100, 100, 100, 0.1); }

main { padding: 5em 5% 2em 5%; }
main h1 { font-family: 'Montserrat', sans-serif; font-weight: 300; font-size: 1.9em; color: #5a5a5f; margin-bottom: 1em; }
main h3 { font-family: 'Montserrat', sans-serif; font-weight: 300; font-size: 1.4em; color: #5a5a5f; }
main .ofer_tit { width: 60%; padding: 0.6em 0.5em; border: 1px solid #b4b4b4; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 1em; color: #323232; transition: all 0.3s ease; border-radius: 2px; margin: 1em 0 1em; }
main .ofer_tit:focus { outline: none; border-color: #69cbc8; }
main .ofer_tit:hover { border-color: #3e8abb; }
main .ofer_desc { width: 60%; }
main select { padding: 0.5em; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 1.1em; color: #323232; }
main select option { font-family: 'Montserrat', sans-serif; font-weight: 300; font-size: 1em; color: #323232; }
main h2 { font-family: 'Montserrat', sans-serif; font-weight: 300; font-size: 1.2em; color: #5a5a5f; display: inline-block; }

.lrg { margin: 2em 0; }

.rb { font-family: 'Montserrat', sans-serif; font-weight: 300; font-size: 1.1em; color: #5a5a5f; display: inline-block; margin: 0.8em 1em 0.8em 0; }

.lbl { color: #5a5a5f; }
.lbl:hover { color: #323232; }
.lbl:focus { color: #323232 !important; }

.inp { border-color: #828287; transition: all 0.3s ease; }
.inp:hover { border-color: #3e8abb; }
.inp:focus { border-color: #51caf5 !important; }

.ic { width: 70%; margin: 0.2em 0 !important; }

.wf { padding: 1.2em 0; }

.ic_p { width: 100% !important; margin: 0.5em 0 !important; }

.ta { width: 100% !important; }

.confirm { width: 60%; background: linear-gradient(#ebebeb, #f0f0f0); padding: 1.7em; border-radius: 2px; }
.confirm h1 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 3em; color: #1e1e23; display: inline-block; margin-bottom: 0.5em; }
.confirm h1 span { font-size: 1.2em; color: #3e8abb; display: inline-block; text-shadow: 2px 2px rgba(30, 32, 30, 0.2); }
.confirm h3 { font-family: 'Montserrat', sans-serif; font-weight: 300; font-size: 1.3em; color: #1e1e23; display: inline-block; }

.wfc { width: 80%; }

.ofertas_p { background: whitesmoke; border-radius: 5px; padding: 1.5em; }
.ofertas_p .emp_d img { width: 20%; border-radius: 100%; }
.ofertas_p .emp_d .emp_desc_ofer h1 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 2.8em; color: #1e1e23; line-height: 2.5em; text-transform: uppercase; }
.ofertas_p .emp_d .emp_desc_ofer h4 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1.1em; color: #767a8d; }
.ofertas_p .h_op { border: 1px solid #51caf5; border-top: none; margin: 2em 0; }

.t_ofer_p h1 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 2.7em; color: #1e1e23; }
.t_ofer_p h3 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1.1em; color: #737373; margin: 4em 0; }
.t_ofer_p .fechas { width: 100%; }
.t_ofer_p .fechas h2 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1.2em; color: #1e1e23; }

.h_sop { border: 1px solid #c8c8c8; border-top: none; margin: 4em 0; }

.ofer_obj h1 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 3em; color: #1e1e23; margin-bottom: 0.7em; }
.ofer_obj h4 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1.2em; color: #737373; }

.puestos h1 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 3em; color: #1e1e23; margin-bottom: 0.7em; }

.puestos_box { background: white; padding: 2em 1em; border: 1px solid #e6e6e6; margin-top: 2em; }
.puestos_box h2 { font-family: 'Lato', sans-serif; font-weight: 700; font-size: 1.8em; color: #1e1e23; margin-bottom: 0.7em; }
.puestos_box h3 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1.2em; color: #1e1e23; margin-bottom: 2em; text-align: center; }
.puestos_box .p_items { width: 100%; }
.puestos_box .p_items h4 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1.1em; color: #1e1e23; margin-bottom: 0.7em; }
.puestos_box .p_items h4 span { font-weight: 700; font-size: 0.95em; color: #3c3c3c; }
.puestos_box .p_items .va { background-color: #3e8abb; color: #f0f0f0; padding: 0.2em 0.4em 0.3em; border-radius: 10px; }
.puestos_box .p_items .etiquetas { background: #e1e1e1; border-radius: 16px; padding: 3px 10px; font-weight: 400; }

.empresas_auspicio {background:white; padding: 1em 1em; }
.es_hiring {padding: 100px 0 90px;}
.enunciado {font-family: 'Lato', sans-serif; text-align: center; font-weight: 300;
    font-size: 48px;
    line-height: 55px;}

.footer_h { background: rgb(217, 177, 33);
    padding: 15px 0;
    border-top: 1px solid #ddd;
    clear: both;}
.contenido {
    margin: 0 auto;
    padding: 0 15px;
}
.footer_final {
    color: #5c5b5b;
    font-size: 14px;
    margin: 10px 0 15px;
    text-align: center;
    float: left;
    width: 100%;
}

.botones {
    font-family: 'Lato', sans-serif; font-weight: 400; font-size: 1em; color: #f0f0f0; text-decoration: none;
    background: #0c964d; border-radius: 2px; text-align: center;
    padding: 0.6em 10em; margin-top: 1.5em; transition: all 0.2s ease; border: none; cursor: pointer;

    
}
.botones:hover { color: white; background: #d9b121; }
/*# sourceMappingURL=styles.css.map */
