<nav>
    <a>UN<span>MUNDO</span></a>
    <ul>
        <!-- desplegable: ezequiel-->
        <li>
            <md-menu>
                <md-button ng-click="$mdOpenMenu($event)" layout="row">
                    <span class="icon-bullhorn ic_m"></span><h1 class="t_me_a">Ofertas</h1>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item>
                        <a ui-sref="profesional.ofertas"><md-button> <span md-menu-align-target class="sm">Listado de ofertas</span></md-button></a> 
                    </md-menu-item>                   
                </md-menu-content>
            </md-menu>
        </li>
        <!--fin desplegable-->

        <li>
            <md-menu>
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
                    <notification-icon animation="grow" count="notificaciones.all.length">
                        <i class="fa fa-globe fa-2x"></i>
                    </notification-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-repeat="n in notificaciones.all">
                        <h4>{{n.TipoNotificacion.Descripcion}}</h4>
                        <md-button ng-click="doSomething()">Do Something</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="profesional.centroNotificaciones">Ver Todas</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </li>
        <li>
            <md-menu>
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
                    <notification-icon animation="grow" count="1">
                        <i class="fa fa-comment fa-2x"></i>
                    </notification-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>

                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </li>
        <li>
            <md-menu>
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
                    <i class="fa fa-user fa-2x"></i>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button class="md-primary" ui-sref="profesional.perfil({ idPro:authentication.profesionalId })">{{authentication.userName}}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="logOut()">
                            <i class="fa fa-sign-out"></i>
                            &nbsp;Cerrar Sesion
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </li>        
    </ul>
</nav>
<!--<aside ui-view="menu@"></aside>-->

<div ui-view="contenido@"></div>