<nav>
    <a href="index.html">UN<span>MUNDO</span></a>
    <ul>
        <a href="#">
            <li><span class="icon-earth icono_de"></span></li>
        </a>
        <a href="#">
            <li><span class="icon-mail4 icono_de"></span></li>
        </a>
        <a href="#">
            <li><img src="img/perfil.jpg" alt=""></li>
        </a>
        <a href="">
            <li><span class="icon-exit icono_de"></span></li>
        </a>
    </ul>
</nav>
<aside ui-view="menu@"></aside>

<div ui-view="contenido@"></div>