<div class="p_info">
    <img src="img/perfil.jpg" alt="">
    <div class="t_info">
        <h5>bienvenido</h5>
        <h2><a ui-sref="profesional.perfil">{{authentication.userName}}</a></h2>
    </div>
</div>
<div class="menu_s">
    <ul>

        <h1>OFERTAS</h1>

        <a ui-sref="profesional.ofertas">
            <li><span class="icon-bullhorn"></span> Ver ofertas</li>
        </a>

        <a ng-click="logOut()">
            <li><span class="icon-exit icono_de"></span></li>
        </a>
    </ul>
</div>

